<div class="content">
    <div class="title">
        {{ 'maintenance.list.title' | translate }}
    </div>
    <div class="new-button">
        <button mat-raised-button color="primary" routerLink="/maintenance/create">{{ 'shared.buttons.create' | translate}}</button>
    </div>
    <div class="list">
        <mat-card class="card" *ngFor="let maintenance of maintenances | async">
            <mat-card-title>{{ maintenance.name }} </mat-card-title>
            <mat-card-content>
              <div>
                Equipment: {{ maintenance?.equipmentName }}
              </div>
              <div>
                Initial Distance: {{ (maintenance?.equipmentDistance / 1000).toFixed(0) | mask:'separator.2':'.'}} Km
              </div>
              <div>
                Actual Distance: {{ ((maintenance?.value) / 1000).toFixed(0) | mask:'separator.2':'.' }} Km
              </div>
              <div>
                Goal Distance: {{ (maintenance?.maintenanceGoal / 1000).toFixed(0) | mask:'separator.2':'.'}} Km
              </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>