<div class="content">
    <div class="title">
        {{ 'maintenance.list.title' | translate }}
    </div>
    <div class="new-button">
        <button mat-raised-button color="primary" routerLink="/maintenance/create">{{ 'shared.buttons.create' | translate}}</button>
    </div>
    <div class="list">
        <mat-card class="card" *ngFor="let maintenance of maintenances | async" [routerLink]="'/maintenance/create/' + maintenance.id">
            <mat-card-title>{{ maintenance.name }} </mat-card-title>
            <mat-card-content>
              <div>
                {{ 'maintenance.card.equipmentName' | translate }}: {{ maintenance?.equipmentName }}
              </div>

              <div *ngIf="maintenance.type === 'distance'">
                <div>
                  {{ 'maintenance.card.distance.actual' | translate }}: {{ ((maintenance?.value) / 1000).toFixed(0) | mask:'separator.2':'.' }} {{ 'maintenance.card.distance.unit' | translate }}
                </div>
                <div>
                  {{ 'maintenance.card.distance.goal' | translate }}: {{ (maintenance?.goal / 1000).toFixed(0) | mask:'separator.2':'.'}} {{ 'maintenance.card.distance.unit' | translate }}
                </div>
              </div>

              <div *ngIf="maintenance.type === 'date'">
                <div>
                  {{ 'maintenance.card.date.goal' | translate }}: {{ maintenance.goal | date:'dd/MM/yyyy':'pt' }}
                </div>
              </div>

              <div *ngIf="maintenance.type === 'hours'">
                <div>
                  {{ 'maintenance.card.hours.goal' | translate }}: {{ (maintenance?.goal / 60).toFixed(0) | mask:'separator.2':'.'}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>