<div class="content">
    <div class="title">
        My Maintenances
    </div>
    <div class="new-button">
        <button mat-raised-button color="primary">New +</button>
    </div>
    <div class="list">
        <mat-card class="card" *ngFor="let maintenance of [1,2,3,4,5,6,7,8]">
            <mat-card-title>Maintenance {{ maintenance}} </mat-card-title>
            <mat-card-content>
              <div>
                Behavior: Chain Change
              </div>
              <div>
                Goal: 2000km
              </div>
              <div>
                Used: 1500km
              </div>
            </mat-card-content>
          </mat-card>
    </div>
</div>