.content {
    padding: 16px;
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    height: 100vh;
    background-color: #ee5536c7;
}

.login-card {
    width: 90%;
    max-width: 300px;
    height: 280px;
    background-color: #ee5536;
    color: #fff;
}

.mat-card-title {
    text-align: center;
    margin-top: 15px;
}

.mat-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.mat-card-content > .login-strava {
    height: 40px;
}