<div class="content">
  <mat-card class="login-card">
    <mat-card-title>{{ 'shared.app.name' | translate }}</mat-card-title>
    <mat-card-content>
      <button 
        mat-raised-button
        (click)="onLoginButtonClick()"
        class="login-strava"
      >
        <img 
          src="assets/imgs/strava_icon.png"
          alt="Strava Icon"
          width="24"
          height="24"
        />
          
        {{ 'shared.buttons.login' | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>