<div class="content">
    <div class="form" *ngIf="this.form">
        <form [formGroup]="this.form">
            <mat-card class="example-card">
                <mat-card-title>Create Maintenance</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Ex. California">
                      </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Save</button>
                  <button mat-button>Cancel</button>
                </mat-card-actions>
              </mat-card>
            
        </form>
    </div>

</div>