
.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-card {
    width: 50%;
    min-width: 320px;
}

.mat-card-title {
    margin-bottom: 25px;
}

.full-field {
    width: 100%;
}

.mat-raised-button.mat-primary {
    background-color: green !important;
    margin-left: 0;
}

.mat-raised-button.mat-accent {
    color: #fff;
}

@media screen and (max-width: 540px) {
    .form-card {
        min-width: 300px;
    }
}