<div class="content" *ngIf="this.form">
    <mat-card class="form-card" [formGroup]="this.form">
        <mat-card-title>{{ 'maintenance.create.title' | translate }}</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-field">
                <mat-label>{{ 'shared.inputTitles.maintenance.type' | translate}}</mat-label>
                <mat-select id="type" formControlName="type" (selectionChange)="onTypeSelect();">
                    <mat-option [id]="'type-'+type.value+'-option'" *ngFor="let type of types" [value]="type.value">
                        {{ 'maintenance.create.types.' + type.name | translate }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.type.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field">
                <mat-label>{{ 'shared.inputTitles.name' | translate}}</mat-label>
                <input matInput formControlName="name" placeholder="{{ 'shared.placeholders.maintenanceName' | translate }}">
                <mat-error *ngIf="this.name.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field">
                <mat-label>{{ 'shared.inputTitles.bikes' | translate}}</mat-label>
                <mat-select formControlName="equipmentId" (selectionChange)="onEquipmentSelect();">
                    <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.equipment.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field" *ngIf="!this.type?.value || this.type?.value === this.typesEnum?.DISTANCE" >
                <mat-label>{{ 'shared.inputTitles.equipmentDistance' | translate}}</mat-label>
                <input matInput formControlName="equipmentDistance" mask="separator.0" thousandSeparator="." suffix=" Km">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field" *ngIf="!this.type?.value || this.type?.value === this.typesEnum?.DISTANCE">
                <mat-label>{{ 'shared.inputTitles.maintenance.goal.distance' | translate}}</mat-label>
                <input id="distanceGoal" matInput formControlName="goal"  mask="separator.0" thousandSeparator="." suffix=" Km">
                <mat-error *ngIf="this.goal.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field" *ngIf="this.type?.value === this.typesEnum?.DATE">
                <mat-label>{{ 'shared.inputTitles.maintenance.goal.date' | translate}}</mat-label>
                <input id="dateGoal" formControlName="goal" matInput [matDatepicker]="datePicker" readonly (click)="datePicker.open()">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #datePicker disabled="false"></mat-datepicker>
                <mat-error *ngIf="this.goal.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-field" *ngIf="this.type?.value === this.typesEnum?.HOURS">
                <mat-label>{{ 'shared.inputTitles.maintenance.goal.hours' | translate}}</mat-label>
                <input id="hoursGoal" formControlName="goal" matInput mask="separator.0" thousandSeparator=".">
                <mat-error *ngIf="this.goal.hasError('required')">{{ 'shared.errors.required' | translate }}</mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
            <span [hidden]="!this.id?.value">
                <button mat-raised-button color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon>{{  'shared.buttons.delete' | translate }}</button>
            </span>
            <button mat-raised-button color="accent" (click)="onCancel()"><mat-icon>close</mat-icon>{{  'shared.buttons.cancel' | translate }}</button>
            <button mat-raised-button color="primary" (click)="onSubmit()"><mat-icon>done</mat-icon>{{ 'shared.buttons.' + (this.maintenance?.id ? 'update' : 'create') | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>