<div class="content" *ngIf="this.form">
    <mat-card class="form-card" [formGroup]="this.form">
        <mat-card-title>{{ 'maintenance.create.title' | translate }}</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline" class="full-field">
                <mat-label>{{ 'shared.placeholders.bikes' | translate}}</mat-label>
                <mat-select formControlName="equipmentId" (selectionChange)="onEquipmentSelect();">
                    <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-field">
                <mat-label>{{ 'shared.placeholders.equipmentDistance' | translate}}</mat-label>
                <input matInput formControlName="equipmentDistance">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-field">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. California">
            </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">{{ 'shared.buttons.create' | translate }}</button>
            <button mat-raised-button>{{  'shared.buttons.cancel' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>