<div class="content">
    <mat-card>
        <mat-card-title>
            <div>
                {{ 'user.detail.form.title' | translate }}
            </div>
        </mat-card-title>
        <mat-card-content>
            <form formGroup="userForm">
                
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'shared.inputTitles.name' | translate }}</mat-label>
                    <input matInput [placeholder]="('shared.placeholders.name' | translate)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'shared.inputTitles.email' | translate }}</mat-label>
                    <input matInput [placeholder]="('shared.placeholders.email' | translate)">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ 'shared.inputTitles.birthdate' | translate}}</mat-label>
                    <input matInput [matDatepicker]="birthdatePicker" (click)="birthdatePicker.open()">
                    <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #birthdatePicker></mat-datepicker>
                  </mat-form-field>
                
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button >{{ 'shared.buttons.cancel' | translate}}</button>
            <button mat-raised-button color="primary" >{{ 'shared.buttons.update' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>