.mat-dialog-title {
    font-size: 16px;
}

.mat-dialog-content {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mat-dialog-actions > .mat-raised-button.mat-primary {
    margin-left: 12px;
    background-color: green !important;
}